# Данные авторизации в Yandex Cloud Kafka
KAFKA_PRODUCER_USER=producer-user
KAFKA_PRODUCER_PASSWORD=...
KAFKA_CONSUMER_USER=consumer-user
KAFKA_CONSUMER_PASSWORD=...

# Список хостов для подключения
KAFKA_BROKERS=rc1a-lhn8508kc3h46dmh.mdb.yandexcloud.net:9091,rc1b-c25es5k2q0n4h7el.mdb.yandexcloud.net:9091,rc1d-2idk47hgrqv4uo4e.mdb.yandexcloud.net:9091
SCHEMA_REGISTRY_URLS=https://rc1a-lhn8508kc3h46dmh.mdb.yandexcloud.net:443,https://rc1b-c25es5k2q0n4h7el.mdb.yandexcloud.net:443,https://rc1d-2idk47hgrqv4uo4e.mdb.yandexcloud.net:443

# Топик
KAFKA_TOPIC=production-topic

# Имя сертификата
CA_CERT=YandexInternalRootCA.crt

# Подключение к Hadoop
HADOOP_MASTERNODE=http://rc1d-dataproc-m-ktu1qkilvob7hsf4.mdb.yandexcloud.net:9870
